@import url("https://use.typekit.net/upm5glu.css");

$yellow: #ffa600;
$orange: #ff621c;
$purple: #4040d0;
$white: #fff;

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: caraque-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $white;
    &::before {
        content: "";
        background-size: contain;
        background-image: url("/math-background.jpg");
        background-size: 30em;
        background-repeat: repeat;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.4;
    }
}

h1, h2 {
    font-family: caraque-solid,sans-serif;
    font-weight: 700;
    font-style: normal;
}

section {
    position:fixed;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 166, 0, 0.3);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $purple;
    border: $orange solid 3px;
    background-color: rgba(255, 166, 0, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    header {
        background-color: $orange;
        padding: 1rem 3rem;
        font-size: 28px;
        color: $white;
        letter-spacing: 2px;
    }
}