@import url("https://use.typekit.net/upm5glu.css");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: caraque-solid,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

body::before {
  content: "";
  background-size: contain;
  background-image: url("/math-background.jpg");
  background-size: 30em;
  background-repeat: repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

h1, h2 {
  font-family: caraque-solid,sans-serif;
  font-weight: 700;
  font-style: normal;
}

section {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 166, 0, 0.3);
}

.game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 700px;
  color: #4040d0;
  border: #ff621c solid 3px;
  background-color: rgba(255, 166, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.game-container header {
  background-color: #ff621c;
  padding: 1rem 3rem;
  font-size: 28px;
  color: #fff;
  letter-spacing: 2px;
}

.game-container .card {
  width: 90%;
  padding: 2rem 0.5rem;
}

.game-container .card .radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #4040d0 2px solid;
  padding: 1rem;
  margin: 0.5rem 0;
}

.game-container .card .radio-container label {
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 700;
}

.game-container .card .radio-container input {
  display: none;
}

.game-container .card .radio-container .best-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */