@import url("https://use.typekit.net/upm5glu.css");

$yellow: #ffa600;
$orange: #ff621c;
$purple: #4040d0;
$white: #fff;

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: caraque-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $white;
    &::before {
        content: "";
        background-size: contain;
        background-image: url("/math-background.jpg");
        background-size: 30em;
        background-repeat: repeat;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.4;
    }
}

h1, h2 {
    font-family: caraque-solid,sans-serif;
    font-weight: 700;
    font-style: normal;
}

section {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 166, 0, 0.3);
    text-align: center;
}

button {
    border: none;
    color: $white;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    font-family: caraque-solid,sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 10px -7px;
    }
}

.game-container {
    // display: flex;
    // flex-direction: column;
    // justify-content: top;
    // align-items: center;
    position: relative;
    min-height: 700px;
    width: 570px;
    color: $purple;
    border: $orange solid 3px;
    border-radius: 5px;
    background-color: rgba(255, 166, 0, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    box-sizing: border-box;
    // margin-top: 100px;
    header {
        background-color: $orange;
        top:0;
        padding: 1rem 3rem;
        font-size: 28px;
        color: $white;
        letter-spacing: 2px;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    }
    .card {
        width: 90%;
        margin: 20px auto 10px;
        .radio-container {
            display: flex;
            position: relative;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: $purple 2px solid;
            border-radius: 5px;
            padding: 1rem;
            margin: 1rem 0;
            cursor: pointer;
            label {
                display: inline-block;
                font-size: 22px;
                letter-spacing: 2px;
                font-weight: 700;
                cursor: pointer;
            }
            input[type="radio"] {
                opacity: 0;          
                cursor: pointer;
                z-index: 12;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
              }
            .best-score {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 18px;
            }
        }
        .start {
            width: 100%;
            background-color: $purple;
            &:hover {
                background-color: $orange;
            }
        }
        .countdown {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 35%;
            font-size: 98px;
        }
        .item-container {
            height: 500px;
            overflow-y: scroll;
            position: relative;
            .selected-item {
                background: $yellow;
                position: fixed;
                margin: auto -28px;
                top: 375px;
                z-index: -1;
                width: 564px;
                height: 70px;
              }
            .item {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                height: 70px;
                margin: 0 50px;
                user-select: none;
            }
          }
          .item-container::-webkit-scrollbar {
            display: none;
          }
          .item-footer {
                display: flex;
                flex-wrap: wrap;
            .wrong, .right {
                width: 45%;
                margin: 0.5rem;
                &:hover {
                    filter: brightness(120%);
                }
              }
            .wrong {
                background-color: $orange;
            }
            .right {
                background-color: $purple;
            }
          }
          .score-container {
            padding-top: 1rem;
            line-height: 28px;
            letter-spacing: 2px;
            .title {
                font-size: 48px;
            }
            .final-time {
                font-size: 98px;
                color: $orange;
            }
            .base-time {
                font-weight: 400;
            }
            .penalty-time {
                font-weight: 400;
                background-color: $yellow;
                padding: 0.2rem;
            }
          }
          .score-footer {
            padding-top: 1rem;
            .play-again {
                width: 100%;
                background-color: $orange;
                &:hover {
                    background-color: $purple;
                }
            }
          }
    }
}

.selected {
    background-color: $orange;
    color: $white;
}

/* Game Page -------------------------- */
.height-240 {
    height: 200px;
    width: 100%;
  }
  
  .height-500 {
    height: 220px;
    width: 100%;
  }

@media screen and (max-width: 550px) {
    button {
        padding: 1rem;
        font-size: 20px;
    }
    .game-container{
        min-height: auto;
        header{
            padding: 0.5rem 1rem;
            font-size: 22px;
        }
        .card {
            .countdown {
                margin-top: 35%;
                font-size: 68px;
                margin-bottom: 35%;
            }
            .item-container {
                height: 400px;
                .selected-item {
                    width: 100%;
                    top: 255px;
                    margin: auto -26px;
                    height: 60px;
                }
                .item {
                    height: 60px;
                    margin: 0 60px;
                }
            }
            .item-footer {
                .wrong, .right {
                    width: 100%;
                  }
            }
        }
    }
        /* Game Page -------------------------- */
    .height-240 {
        height: 120px;
        width: 100%;
    }
    
    .height-500 {
        height: 220px;
        width: 100%;
    }
}

@media screen and (max-width: 390px) {
    /* Game Page -------------------------- */
    .height-240 {
        height: 110px;
        width: 100%;
    }
    .height-500 {
        height: 160px;
        width: 100%;
    }
}